connected_components_3d==3.23.0
diffusers==0.32.2
matplotlib==3.10.7
numpy==2.3.5
omegaconf==2.3.0
opencv_python==4.11.0.86
pandas==2.3.3
pqdm==0.2.0
pytorch_lightning==2.5.0.post0
scipy==1.16.3
torch==2.8.0
tqdm==4.67.1
